h1{
    text-align:center;
    color:white;
}
h3{
    color:white;
}
img{
    width:100px;
    border: 5px solid red;
}
body {
 background-image: url("https://image.freepik.com/free-photo/american-flag-background-with-copyspace-right_23-2147824271.jpg");
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

